* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

html {
  min-width: 320px;
  background: var(--color-background);
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

::selection {
  color: var(--color-primary-active);
  background: var(--color-primary-soft-border);
}